@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: rgb(180, 162, 211);
  --Neutral-500: hsl(246, 28%, 26%);
  --Neutral-700: hsl(251, 45%, 16%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

* {
  font-family: "Inconsolata", monospace;
}
